*.pyc
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
*.vagrant/*
.Trash-*/*
.virtual_documents/*

# c/c++ project ignores
*.o
*.gch
*.exe
*.tar.gz
*.log
*.out
sim
test
\#*
.\#*
TODO.md
Makefile.pandoc
.vagrant/*
html/*
latex/*
output/*

# latex ignores
*.acn
*.swp
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.eps
*~

# snakemake ignores
slides/*.md
slides/*.tex
slides/*.png
.snakemake
